
/* Login Page */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
h1 {
    font-family: "Josefin Slab";
    text-align: center;
}
.login-form {
    width: 300px;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #FACE8B;
}
.form-group {
    margin-bottom: 1rem;
}
label {
    display: block;
    margin-bottom: 0.5rem;
}
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    width: 100%;
    padding: 0.7rem;
    background-color: #9C6F44;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #4B2909;
}
.message {
    margin-top: 1rem;
    color: red;
    text-align: center;
}

/* Signup Page */
.signup-form {
    width: 300px;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #FACE8B;
}
input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}