html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    position: relative;
}

body {
    background-color: #724E2C;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('CoffeeBeansBackground.png');
    background-size: auto;
    background-position: center;
    opacity: 0.3;
    z-index: -1;
}

h1 {
    font-family: "Josefin Slab", sans-serif;
    text-align: center;
    margin-bottom: 30px;
}

/* Login Page */
.login-form {
    width: 300px;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #FACE8B;
    margin: 0 auto;
}
.form-group {
    margin-bottom: 16px;
}
label {
    display: block;
    margin-bottom: 8px;
}
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    width: 100%;
    padding: 12px;
    background-color: #9C6F44;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #724E2C;
}
.message {
    margin-top: 16px;
    color: red;
    text-align: center;
}

/* Signup Page */
.signup-form {
    width: 300px;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #FACE8B;
    margin: 0 auto;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.account-text {
    font-family: "Josefin Slab", sans-serif;
    font-size: 14px;
    text-align: center;
    margin-bottom: 1px;
}

.make-table-form {
    width: 300px;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #FACE8B;
    margin: 0 auto;
}

/* Top Navigation */
.top-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    padding: 15px 0 15px 0;
    background-color: #FACE8B;
}

/* Top Navigation */
.top-nav .nav-content {
    display: flex;
    justify-content: space-between; /* Ensure space between elements */
    align-items: center; /* Align everything in the nav-content vertically */
    width: 50%; /* Centered content width */
}

/* Button with Logo and Text */
button.logo {
    display: flex; /* Make the button a flex container */
    align-items: center; /* Vertically center the image and text */
    font-family: "Josefin Slab", serif;
    font-size: 28px;
    font-weight: bold;
    text-align: left;
    width: auto;
    background: none;
    border: none;
    color: #724E2C;
    padding: 0;
    cursor: pointer;
    transition: color 0.3s;
}

/* Coffee Mug Logo Inside Button */
button.logo .coffee-mug {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    margin-top: -4px;
}

/* Profile Dropdown */
.profile-dropdown {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
}

.profile-img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.dropdown-arrow {
    margin-left: 5px;
    font-size: 14px;
    color: #724E2C;
}

.dropdown-content {
    display: none; /* Initially hide the dropdown until pfp is clicked */
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #9C6F44;
    min-width: 120px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
    overflow: hidden;
}

.dropdown-content a {
    color: #ffffff;
    padding: 8px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #724E2C;
}

/* Layout */
.main-container {
    display: flex;
    margin-top: 60px;
    height: 100vh;
    width: 50%;
    justify-items: center;
    align-self: center;
}

.sidebar {
    flex: 0 0 220px;
    margin-top: 20px;
    padding: 20px;
    background-color: #9C6F44;
    color: #ffffff;
    border-radius: 8px;
    height: 86vh;
}

.sidebar h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.sidebar button {
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    background-color: #724E2C;
    color: #ffffff;
    border: 2px solid transparent;
    cursor: pointer;
    text-align: left;
    font-size: 14px;
}

#user-search-btn, #view-followers-btn {
    text-align: center;
    border: 2px solid transparent;
}
.sidebar button:hover, #user-search-btn:hover, #view-followers-btn:hover {
    border-color: #000000;
}

/* Reset button styles */
.icon-button {
    background-color: #9C6F44;
    border: none;
    cursor: pointer;
    padding: 4px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
}

/* Style the icons */
.icon-button i {
    font-size: 1em;
    color: white;
}

/* Tooltip wrapper */
.tooltip-button {
    position: relative;
    display: inline-block;
    margin-left: 10px; /* Space between buttons */
}

/* Tooltip text */
.tooltip-text {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.8em;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position above the button */
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.2s;
}

/* Tooltip arrow */
.tooltip-text::after {
    content: '';
    position: absolute;
    top: 100%; /* Position below the tooltip */
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

/* Show tooltip on hover */
.tooltip-button:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* Content Area */
.content {
    flex: 1;
    padding: 20px;
}

/* Ad Space */
.ad-space {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 20px;
}

.ad {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    width: 50%;
    height: 100px;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
}

/* Audio Controls */
.audio-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #9C6F44;
    padding: 15px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #ffffff;
    height: 120px;
}

#audio-title {
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
}

.media-buttons {
    display: flex;
    justify-content: space-between;
    width: auto;
    gap: 10px;
}

.audio-controls button {
    background: none;
    border: none;
    font-size: 20px;
    color: #000000;
    cursor: pointer;
}

.audio-controls button:hover {
    color: #724E2C;
}

#current-time {
    margin-top: 10px;
    font-size: 14px;
}

/* Tables Grid */
.tables-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    gap: 20px;
}

.table {
    background-color: #FACE8B;
    height: 160px;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    font-size: 16px;
}

.table button {
    margin-top: 30px;
}

.table-name {
    font-weight: bold;
}

.table-type {
    margin-bottom: 10px;
}

.action-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 20px 0 20px 0;
}

.action-buttons button {
    background-color: #9C6F44;
    color: #ffffff;
    padding: 12px 20px;
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    transition: border-color 0.3s, border-width 0.3s;
}

.action-buttons button:hover {
    border-color: #000000;
}

#editTableForm {
    width: 300px;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #FACE8B;
    margin: 0 auto;
}

.padding {
    padding-bottom: 20px;
}

#editSettingsForm {
    width: 300px;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #FACE8B;
    margin: 0 auto;
}
#editUserForm {
    width: 300px;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #FACE8B;
    margin: 0 auto;
}

/* Popup Modal Styles */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}

.popup-content ul {
    list-style: none;
    padding: 0;
}

.popup-content li {
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-content button {
    margin: 0.5rem 0;
}

.popup-content h3 {
    margin-bottom: 10px;
    color: #724E2C;
}

.search-bar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.search-bar input {
    width: 94%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.search-bar button {
    padding: 10px;
    background-color: #9C6F44;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.search-bar button:hover {
    background-color: #724E2C;
}

.hidden {
    display: none;
}

/* Search Results */
.results-container {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.results-container h4 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #724E2C;
    text-align: left;
}

.result-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 4px;
    margin-bottom: 10px;
}

.result-item:last-child {
    border-bottom: none; /* Remove border from the last item */
}

.result-item p {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
}

.result-item strong {
    font-weight: bold;
    color: #724E2C;
}

.follower-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.unfollow-btn {
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.unfollow-btn:hover {
    background-color: #d32f2f;
}